
<!-- NAVBAR START -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img src="favicon/favicon-32x32.png" alt="Code"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">TEST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="about.html"">About Me</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ProjectsTEMP
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="NEWPAGE_HERE.html">NEWPAGE_HERE.html</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Template
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item disabeled" href="little_scripts.html">Template</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
          <a href="" class="btn-sm btn-outline-secondary text-black">
            <img src="" alt="" class="img-thumbnail" style="width: 41.5px;height: 41.5px;">
          </a>
          <a href="" target="_blank" class="btn-sm btn-outline-secondary text-black">
              <img src="" alt="Githubpic" class="img-thumbnail">
          </a>
          <a href="" target="_blank" class="btn-sm btn-outline-secondary text-black">
              <img src="" alt="XING" class="img-thumbnail" style="width: 41.5px;height: 41.5px;">
          </a>
          <a href="" target="_blank" class="btn-sm btn-outline-secondary text-black">
              <img src="" alt="Replit" class="img-thumbnail" style="width: 41.5px;height: 41.5px;">
          </a>
          <a href="" target="_blank" class="btn-sm btn-outline-secondary text-black">
              <img src="" alt="LinkedIn" class="img-thumbnail" style="width: 41.5px;height: 41.5px;">
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- NAVBAR END -->
  